# Database Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=wemood_db
DB_BIND_IP=127.0.0.1
DB_PORT=5432

# Application Settings
ENVIRONMENT=dev

# AI Service
MISTRAL_API_KEY=

# API Security
ADMIN_API_KEY=